In [27]:
!pip install praw

Requirement already satisfied: praw in c:\users\ema\anaconda3\lib\site-packages (7.8.1)
Requirement already satisfied: prawcore<3,>=2.4 in c:\users\ema\anaconda3\lib\site-packages (from praw) (2.4.0)
Requirement already satisfied: update_checker>=0.18 in c:\users\ema\anaconda3\lib\site-packages (from praw) (0.18.0)
Requirement already satisfied: websocket-client>=0.54.0 in c:\users\ema\anaconda3\lib\site-packages (from praw) (0.58.0)
Requirement already satisfied: requests<3.0,>=2.6.0 in c:\users\ema\anaconda3\lib\site-packages (from prawcore<3,>=2.4->praw) (2.31.0)
Requirement already satisfied: six in c:\users\ema\anaconda3\lib\site-packages (from websocket-client>=0.54.0->praw) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ema\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ema\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ema\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ema\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (2023.7.22)

In [28]:
import praw
import pandas as pd
import seaborn as sns
import numpy as np

#enter your credentials
username=""
client_id=""
client_secret=""
password=""

reddit_instance=praw.Reddit(
    username=username,
    client_id=client_id,
    client_secret=client_secret,
    password=password,
    user_agent="test_bot"
)

#print(reddit_instance.user.me())
subreddit = reddit_instance.subreddit("cats")
#to verify that you're connected
print(subreddit)

cats

In [29]:
import pandas as pd
df=pd.DataFrame()
titles=[]
scores=[]
ids=[]

In [30]:
posts=subreddit.hot(limit=100)
for post in posts:
    titles.append(post.title)
    scores.append(post.score) #upvotes
    ids.append(post.id)
df['Id']=ids   
df['Titles'] = titles
df['Upvotes'] = scores
df = df.sort_values(by=['Upvotes'])
print(df)

         Id                                             Titles  Upvotes
1   1l0kocd  Discussion Thread #11 - Chat & Discuss Anythin...        3
92  1l0w9nu  Found this guy in a thorn bush, now we’re best...       10
97  1l0ug5j                  Will this kitten have longer hair       12
91  1l0vw63              Smart Orange opens door for his owner       12
96  1l0umvb  Cats are part time models & they don’t even kn...       13
..      ...                                                ...      ...
3   1l0ow8r  A cat lying down in the Hagia Sophia mosque in...     9678
31  1kzz37j                              The OG cat whisperer.    10673
4   1l0jrky                                    calm down buddy    17741
21  1l02k0e  I adopted this 14 year old cat from the shelte...    30156
12  1l0c91p                          what is this move called?    48068

[100 rows x 3 columns]

In [31]:
df.head()

         Id                                             Titles  Upvotes
1   1l0kocd  Discussion Thread #11 - Chat & Discuss Anythin...        3
92  1l0w9nu  Found this guy in a thorn bush, now we’re best...       10
97  1l0ug5j                  Will this kitten have longer hair       12
91  1l0vw63              Smart Orange opens door for his owner       12
96  1l0umvb  Cats are part time models & they don’t even kn...       13

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1 to 12
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       100 non-null    object
 1   Titles   100 non-null    object
 2   Upvotes  100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [33]:
df = df.sort_values(by=['Upvotes'], ascending=True)
df.head(10)

         Id                                             Titles  Upvotes
1   1l0kocd  Discussion Thread #11 - Chat & Discuss Anythin...        3
92  1l0w9nu  Found this guy in a thorn bush, now we’re best...       10
97  1l0ug5j                  Will this kitten have longer hair       12
91  1l0vw63              Smart Orange opens door for his owner       12
96  1l0umvb  Cats are part time models & they don’t even kn...       13
81  1l0usty                             Cheesecake stretching!       13
93  1l0uryn  Cat doesn’t want to cuddle, he just wants to *...       13
87  1l0urqx                                   He needs a name!       15
86  1l0tppp                                         Smiley Cat       15
69  1l0wcmn  The cat distribution center made me a grandma....       16

In [34]:
df1 = df.copy()

In [35]:
df1.head()

         Id                                             Titles  Upvotes
1   1l0kocd  Discussion Thread #11 - Chat & Discuss Anythin...        3
92  1l0w9nu  Found this guy in a thorn bush, now we’re best...       10
97  1l0ug5j                  Will this kitten have longer hair       12
91  1l0vw63              Smart Orange opens door for his owner       12
96  1l0umvb  Cats are part time models & they don’t even kn...       13

In [36]:
df1['Popularity Score'] = df1.loc[df['Upvotes']>1000] = "best"

In [37]:
df1['Popularity Score'] = df1.loc[df['Upvotes']>100] = "hot"

In [38]:
df1['Popularity Score'] = df1.loc[df['Upvotes']>10] = "great"

In [39]:
df1['Popularity Score'] = df1.loc[df['Upvotes']==0] = "new"

In [48]:
df1.head()

,Id,Titles,Upvotes,Popularity Score
1,1l0kocd,Discussion Thread #11 - Chat & Discuss Anythin...,3,new
92,1l0w9nu,"Found this guy in a thorn bush, now we’re best...",10,new
97,great,great,great,new
91,great,great,great,new
96,great,great,great,new

In [41]:
type(df1)

pandas.core.frame.DataFrame

In [42]:
df1.shape

(100, 4)

In [43]:
df.tail()

         Id                                             Titles  Upvotes
3   1l0ow8r  A cat lying down in the Hagia Sophia mosque in...     9678
31  1kzz37j                              The OG cat whisperer.    10673
4   1l0jrky                                    calm down buddy    17741
21  1l02k0e  I adopted this 14 year old cat from the shelte...    30156
12  1l0c91p                          what is this move called?    48068

In [44]:
df.tail(20)

         Id                                             Titles  Upvotes
29  1l099i4                 This picture needs a good caption!     2265
50  1l03vuk           Goodbye, baby girl. I'll always miss you     2421
5   1l0ofud  14yo girl serenading a stray cat she just met ...     3037
22  1l0btqu  He hasn’t moved for a few minutes. Should I be...     3064
2   1l0uuuh  5 years ago we found this girl abandoned, we’v...     3687
27  1l05od6  My beautiful baby only 6 years old has passed ...     4675
18  1l0bxj8       Everyone wish Orangie a happy 20th birthday!     5362
10  1l0j9pd                    This cat in Kyoto just chilling     5418
11  1l0hdyo                  Not a bad first day introduction?     5800
8   1l0jivp  Meet fish and chips. We found them abandoned a...     5813
54  1kzw5cq                                  Good night, queen     7083
72  1kzta8w                                     Cat in the hat     7274
34  1l0016a  Just adopted this 20 year old cat. Shelter vet...     7851
49  1kzwd1g           found him inside a trashcan 7 months ago     8136
41  1kzxhx7  Just said goodbye to my handsome boy Jack- 16 ...     8981
3   1l0ow8r  A cat lying down in the Hagia Sophia mosque in...     9678
31  1kzz37j                              The OG cat whisperer.    10673
4   1l0jrky                                    calm down buddy    17741
21  1l02k0e  I adopted this 14 year old cat from the shelte...    30156
12  1l0c91p                          what is this move called?    48068

In [45]:
def word_count(df, column):
    dictionary={}
    for idx, row in df.iterrows():
        split = row[column].lower().split(" ")
        for word in split:
            if word in dictionary:
                dictionary[word] += 1
            else:
                dictionary[word] = 1
    dictionary = pd.Series(dictionary)
    dictionary = dictionary.sort_values(ascending=False)
    return dictionary

top_counts = word_count(df, "Titles")
top_counts[0:10]

my      29
cat     27
i       20
a       20
to      16
this    14
in      13
the     12
is      12
of       9
dtype: int64